In [ ]:
print("Hello World")

Hello World

In [ ]:
name="NAIK"
print(type(name)==str)

True

In [ ]:
print(isinstance(name,str))  #to cheak variable type

True

In [ ]:
age = float(2)  #Changing data type
print(isinstance(age,float))

True

In [ ]:
#casting

number = 7
age = int(number)
print(isinstance(age,int))

True

In [ ]:
#Data Types

# complex for complex numbers bool for boolean list for lists tuple for tuples range for ranges dict for dictionaries sets for sets

#operators
#arithmetic,assignment

#boolean operator
conditio1 = True
condition2 = False

not conditio1
conditio1 and condition2
condition2 or condition2

False

#trernary operator - ifelse statement all on a a single line in return

In [ ]:
#Strings
'string'
"string"
name = 'Chaitanya'
name+= 'is my name'
print('name'.upper())
print('name'.lower())
print('nAME'.title())
# startswith()  endswith()  split() join() find() replace()

NAME
name
Name

In [ ]:
#Python 0 indexed

name = 'naik'
print(name[2])
print(name[1:3])

i
ai

In [ ]:
#boolean
# Capital t and f for true and false

done = True
if done:
    print('yes')
else:
    print('no')
#to cheak type
done=True
print(type(done)==bool)


book1 = True
book2 = False
read_any_book = any([book1,book2]) #cheak if any of the following is true then returns true
read_any_book = all([book1,book2]) #cheak if all of the following are true

yes
True

In [ ]:
#complex/imaginery numbers
num1 = 2+3j
num2 = complex(2,3) # 3 is the imaginery part
print(num1.real,num2.imag)

2.0 3.0

In [ ]:
#built in functions
print(abs(-1.2))
print(round(3.7))

1.2
4

#Enums
# from enum import Enum
#class State(Enum):
# INACTIVE =0
# ACTIVE =1
#print(State.ACTIVE.value)
#print(list(State))
#print(len(State))

In [ ]:
#input function
age = input('what is your age: ')
print ("Your age is "+age)

what is your age: 5
Your age is 5

In [ ]:

#control statements
#indentation very important
#if else
condition = False
if condition == True:
    print('The condition was true')
else:
    print('The condition was false')

The condition was false

In [ ]:
#List
#can include multiple data types in a sinngle list
string = []
name =['frenzy','naik',True,21]
print('frenzy' in name)
print('str' in string)
name[1] = 'chaitanya'
print (name[1])
print(name[-1]) #starts from behind
print(name[1:3]) #extracting part of a list
print(len(name))
name.append('new item')
print(name)
name.extend(['a',4])# adding other list
print(name)
name +=['b',5] #another alternative
print(name)
name.remove(21) #removing a item
print(name)
print(name.pop())# pop gets the last index of the list and remove it
print(name)

items =[1,2,3,4,5,6,7,8,]
items.insert(0,0) #insert a element customly at any position in array
print(items)
items[3:4] =[9,23] # add multiple items in list
print(items)

True
False
chaitanya
21
['chaitanya', True]
4
['frenzy', 'chaitanya', True, 21, 'new item']
['frenzy', 'chaitanya', True, 21, 'new item', 'a', 4]
['frenzy', 'chaitanya', True, 21, 'new item', 'a', 4, 'b', 5]
['frenzy', 'chaitanya', True, 'new item', 'a', 4, 'b', 5]
5
['frenzy', 'chaitanya', True, 'new item', 'a', 4, 'b']
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 9, 23, 4, 5, 6, 7, 8]

In [ ]:
#sort
items.sort()
print(items)
itemscopy = items[:]
print(itemscopy) #copying list
#sorting without creating new
print(sorted(items,))
print(items)

[0, 1, 2, 4, 5, 6, 7, 8, 9, 23]
[0, 1, 2, 4, 5, 6, 7, 8, 9, 23]
[0, 1, 2, 4, 5, 6, 7, 8, 9, 23]
[0, 1, 2, 4, 5, 6, 7, 8, 9, 23]

In [ ]:
#Tuples
names = ('ajinkya','bob','cat')
names[-1] #from behind
names.index('cat')
len(names)
print('bob' in names)
print(sorted(names))
# Adding a single element tuple
newTuple = names + ('dan', 'eli')
print(newTuple)

True
['ajinkya', 'bob', 'cat']
('ajinkya', 'bob', 'cat', 'dan', 'eli')

In [ ]:
#example
dog ={"name":"lucky","age":7}
print(dog.get("name"))#finding value to key
print(dog.pop("name"))
print(dog)
print(dog.popitem())#retrives last key value pair
print("name" in dog)#to cheak the presence of key
print(dog.keys())#to print keys out of dict
print(dog.keys())
print(dog.values())#to print values out of dict
print(dog.items())#to print content of dict
print(len(dog))
dog["food"] = "meat"#to add another key value pair to dict
print(dog)
del dog["food"]#delete
print(dog)
dogCopy = dog.copy() #to copy a dictionary
print(dog)

lucky
lucky
{'age': 7}
('age', 7)
False
dict_keys([])
dict_keys([])
dict_values([])
dict_items([])
0
{'food': 'meat'}
{}
{}

In [ ]:
#Sets
#items in curly braces

set1 = {"adam","Bob"}
set2 ={"colin","dave"}
intersect = set1 & set2 #items in common
print(intersect)
mod = set1 | set2
print(mod)
differ = set1-set2#values in 1 that does not exist in 2
print(mod)
superset = set1<set2
print(set1)#list of a set
#set cannot have duplicate values on printing

set()
{'Bob', 'dave', 'colin', 'adam'}
{'Bob', 'dave', 'colin', 'adam'}
{'Bob', 'adam'}

In [ ]:
#Functions
#syntax
def hello():
    print("hello")
    #Call function
hello()
#Parameters
def para(name):
    print("Chaitanya " + name)
para("naik")
#multiple parameters def para(name,age)
#para("naik",41)

def change(value):
    value["name"] = "syd"
val = {"name":"bob"} #if this had been an integer in place of dictionary then no change(immutable)
change(val)
print(val)

#Return statement
def hello(name):
    if not name:
        return # returns nothing when no parameter is added outside
    print("hello" + name + "!")
#hello() # No output
hello("naik") #output hello naik because perimeter passed

def hello(name):
    print("hello " + name + "!")
    return name,"Beau",8
print(hello("syd")) # 2 outputs

hello
Chaitanya naik
{'name': 'syd'}
hellonaik!
hello syd!
('syd', 'Beau', 8)

In [ ]:
#Variable scope
#For example if we declare a variable before a fuction it will
#be available throughout the program global scope inside and outside function

def test():
    age =8 #only available inside function local scope
    print (age)

#Nested Functions
def talk(phrase):
    def say(word):
        print(word)
    words = phrase.split(" ")
    for word in words:
        say(word)
talk("My name is Naik")
#example 2

def count():
    count =0
    def increment():
        nonlocal count #can be accessed outside
        count = count + 1
        print(count)
    increment()
    count()

My
name
is
Naik

In [ ]:
#Objects
#Int Objects
age =8
print(age.real)
print(age.imag)
print(age.bit_length())

#List Objects
items =[1,2]
items.append(3)
items.pop()
print(id(items))

8
0
4
136937219847040

In [ ]:
#Loops
#WHILE Loops

condition = True
while condition == True:
    print("The condition is True")
    condition = False
#with a counter
count = 0
while count<10:
    print("THe condition is true")
    count += 1
print("After the loop")

#For loop
items = [1,2,3,4,5,6,7]
for item in items:
    print(item)
#using range function
for item in range(15):
    print(item)
#to return index
for index,item in enumerate(items):
    print(index,item)

#Break and Continue
for item in items:
    if item==2:
        continue # if breakl then output 1
    print(item)

The condition is True
THe condition is true
THe condition is true
THe condition is true
THe condition is true
THe condition is true
THe condition is true
THe condition is true
THe condition is true
THe condition is true
THe condition is true
After the loop
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0 1
1 2
2 3
3 4
4 5
5 6
6 7
1
3
4
5
6
7

In [ ]:

#Classes

class dog():
    def bark(self): #when creating  a object inside class use self
        print("woof")
roger = dog()
print(type(roger)) # class
roger.bark()

<class '__main__.dog'>
woof

In [ ]:
# constructor
#syntax
class cat:
    def __init__(self,name,age): #pass in variable
        self.name = name
        self.age = age
get_name = cat("Victoria",7)
print(get_name.name)
print(get_name.age)

Victoria
7

In [ ]:
#INheritance
class animal: #
    def walk(self):
        print("Walking..")

class lion(animal):
    def roar(self):
        print("Roar")
inherit = lion()
inherit.walk() #Inheriting walk from animal

Walking..

#Modules
#Importing functions from another file using imports
#Syantax import (class name)
#Another method - from (class name) import (anyfuction in the class)

#we can also import from sub folders

#Different Modules in python
math for math utilities
re for regular expressions
json to work with json
datetime to work with dates
sqlite3 to use sqlite
os for operating system utilities
random for random number generation
statistics for statistics utilities
requests to perform http servers
urllib to manage urls

In [ ]:
#Math
import math
math.sqrt(2)
print(math.sqrt(4))
#or
from math import sqrt
print(sqrt(4))

2.0
2.0

#Arguments from command line
#to run python program
python (python file).py

#Arguments on cmd
import sys
print(sys.argv
#on cmd python main.py 1 2 3
#output on next line = ['main.py','1','2']

In [ ]:
#Lambda Func
# Tiny expressions with no name with only one expression as their body
lambda num : num*3
multiply =lambda a,b : a*b # assigning lambda to variable
print (multiply(2,4))

8

In [ ]:
# Map,filter,reduce
#Map function to run a funcion on each item
numbers =[1,2,3,4]
def double(a): #alternate lambda func double lambda a : a*2
     return a*2
result = map(double,numbers) # can directly put lambda fucn in place of double
print(result)

<map object at 0x7c8b2e58e800>

In [ ]:

#Filter returns after filtering function
number=[5,6,7,8,9]
def isEven(n):
     return n%2 ==0
result = filter (isEven,numbers) #Can directly put lambda func in place of isEven
print(result)

<filter object at 0x7c8b2e58fdf0>

#Reduce
#Calculate value out of a sequence
from fucntools import reduce

expense=[
    ('dinner',10),
    ('lunch',90)
]
sum = reduce(lambda a,b : a[1] + b[1], expenses)
print(sum)

In [ ]:
#Recursion
#Function calling itself
def factorial(n):
    if n == 1:        # Base case
        return 1
    else:
        return n * factorial(n-1)   # Recursive case

print(factorial(4))   # Output: 24

24

#Docstring
"""(Info about file or line in a file)""" #IN code documentation

In [ ]:
#Annotations
#Specifying data types
def increment(n: int) -> int: # Input and output both as int
    return n+1

In [ ]:
#Exceptions

try:
    result = 2/0
except ZeroDivisionError:   # catch specific error
    print("Cannot divide by zero")
    result = None
finally:
    result = 1   # will always run
print(result)

Cannot divide by zero
1


#to raise general exception
# raise exception('An error')

#pip
pip install (package name) #Install a package
pip install -U (package name) #update a package
pip uninstall (package name)#uninstall a package
pip show (package name) #info about package

In [ ]:
#List Compressions
num1 =[1,2,3,4,5]
num_power_2 = [n**2 for n in num1]
print(num_power_2)

[1, 4, 9, 16, 25]

In [ ]:
#Polymorphism
class A:
    def call(self):
      print('A being called')
class B :
    def call(self):
      print("B being called")

A1 = A()
B1 = B()
A1.call()
B1.call()

A being called
B being called

In [ ]:
#Operator overloading
class X :
   def __init__(self,name,age):
      self.name =name
      self.age = age

   def __gt__(self,other):
      return True if self.age > other.age else False
Alice = X('Alice',7)
bob = X('Bob',8)

print(Alice>bob)

False